{% extends "base.html" %}

{% block home_tab_class %}active{% endblock %}

{% block body %}

    {% for post in post_list %}

        {% include "post_include.html" %}

        <hr/>

    {% endfor %}

    <p>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </p>

    <p>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&laquo; More recent posts</a>
        {% if page_obj.has_next %}
            &mdash;
        {% endif %}
    {% endif %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Older posts &raquo;</a>
    {% endif %}
    </p>

{% endblock %}
